<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  
  <div class="hnavbar">
    <div class="navbar-left">
      <img src="https://i.pinimg.com/originals/82/c6/5b/82c65b9bb0a75026fc4c82a438b4cc9b.jpg" alt="Logo">
    </div>
    <div class="navbar-right">
      <div class="search-bar">
        <input type="text" placeholder="Search...">
      </div>
      <div class="notification-icon">
        <i class="material-icons">notifications</i>
      </div>
      <div class="three-dots-icon">
        <i class="material-icons">more_vert</i>
      </div>
    </div>
  </div>
  